<p>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour It!{{/if}}
	</button>

	<!--<button class="delete-status" data-id="{{id}}">
		Delete
	</button>-->
</p>