<head>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
</head>
<div class="title">
  <!--<img src="./assets/hamburger.png" alt="burger icon" class="iconImg">-->

  <h1>Burger Time!</h1>
</div>


<h2>Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgerBlock devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgerBlock devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="burgerForm">Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked>Not eaten <br>
    <input type="radio" name="devoured" value="0"> Devour it!
    <br>
    <button type="submit" class="addBtn">Add Burger</button>
  </div>

</form>
